{% load static %}
<div class="col-md-4">    
    <div class="d-none d-md-block">  
        <div class="content-section">
        <h3>Contacts & Accounts</h3>
        <p>
            <ul class="list-group">
            <li class="list-group-item list-group-item-light">Phone: (859) 619-9960</a></li>
            <li class="list-group-item list-group-item-light">Email: hwdecker5@gmail.com</a></li>
            <li class="list-group-item list-group-item-light">LinkedIn: <a href="https://www.linkedin.com/in/haydendecker">linkedin.com/in/haydendecker</a></li>
            <li class="list-group-item list-group-item-light">GitHub: <a href="https://www.github.com/hwdecker">github.com/hwdecker</a></li>
            </ul>
        </p>
        </div>
    </div>
</div>  

