 body {
  background: #ffffff;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-gradientblue {
  background-image: linear-gradient(15deg, #12367a, #46bbf1);
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

.article-content {
  white-space: pre-line;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.list-group .list-group-item {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}

.card {
  box-shadow: 0 0 5px 0;
  background: #bdc8d1;
  text-align: center;
}

.card-title, .card-text {
  color: #2c2c2c;
}

.container .jumbotron {
  background-image: url("/static/portfolio/header-blue.jpg");
  background-size: cover;
}



